/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

storage/debugbar/

public/assets/js/.DS_Store

.DS_Store
/storage/debugbar

# /public/uploads
/public/voice

composer.lock

storage/logs/


/update
/update_uploads
/frontend/assets_backup
documentation/
/public/article_data_gemini.txt
/public/article_text_gemini.txt
/public/bulk_keywords_seo.json
/public/gemini_outlines.json
/public/gemini_outlines_backup.json
/public/keywords.json
/public/keywords_response.json
/public/keywords_response_gemini.json
/public/keywords_seo.json
/public/keywords_seo_response.json
/public/keywords_seo_result.json
/public/meta_response.json
/public/meta_response_gemini.json
/public/outline_response.json
/public/outline_response_gemini.json
/public/seo.json
/public/seo2.json
/public/seoOptimization.json
/public/title_response.json
/public/title_response_gemini.json
/public/titles.json
public/untitled*